<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
    <id>cerb5blog.autorefresh.notifications</id>
    <name>Ajax Update of Unread Notification</name>
    <description>Ajax Update of Unread Notification</description>
    <author>Robert Middleswarth</author>
    <version>1.0.0</version>
    <link>http://www.cerb5blog.com/</link>
    <image>plugin.png</image>
 
    <!-- Requirements -->

    <requires>
        <app_version min="5.6" max="5.8.99" />
    </requires>
 
    <!-- Plugin Dependencies -->
	
    <dependencies>
        <require plugin_id="cerberusweb.core" version="5.4.0" />
    </dependencies>

    <!-- Extensions -->
 
    <extensions>

        <!-- Controller -->

        <extension point="devblocks.controller">
            <id>cerb5blog.autorefresh.notifications.controller</id>
            <name>Controller</name>
            <class>
                <file>api/App.php</file>
                <name>Controller_Cerb5blogAutorefreshNotificationsAjax</name>
            </class>
            <params>
                <param key="uri" value="cerb5blog.autorefresh.notifications" />
            </params>
        </extension>

        <!-- Pre-Body Renderer -->
                
        <extension point="cerberusweb.renderer.prebody">
            <id>cerb5blog.autorefresh.notifications.prebody</id>
            <name>Pre-Body Renderer</name>
            <class>
                <file>api/App.php</file>
                <name>Cerb5blogAutorefreshNotificationsPreBodyRenderer</name>
            </class>
            <params/>
        </extension>
    </extensions> 
</plugin>
